---
- name: postfix is installed
  apt: pkg=postfix state=installed
  tags: postfix

- name: postfix check /etc/postfix/sasl_passwd.db
  stat:
    path: /etc/postfix/sasl_passwd
  register: sasl_passwd_db

- name: postfix touch /etc/postfix/sasl_passwd to trigger sasl_passwd.db creation
  file:
    path: /etc/postfix/sasl_passwd
    state: touch
    mode: 0600
    owner: root
    group: root
  when: not sasl_passwd_db.stat.exists
  notify:
   - create sasl_passwd.db
   - restart postfix

- name: postfix main.cf template
  template:
    src: main.cf.j2
    dest: /etc/postfix/main.cf

- name: postfix is running
  service: name=postfix state=started enabled=yes
  tags: postfix
